In [33]:
import pandas as pd
import numpy as np

# Dataset de empleados para consultoría
empleados = pd.DataFrame({
    'empleado_id': ['E001', 'E002', 'E003', 'E004', 'E005', 'E006', 'E007', 'E008'],
    'nombre': ['Ana García', 'Carlos López', 'María Rodriguez', 'Juan Pérez', 
               'Laura Martín', 'Pedro Sánchez', 'Sofia Hernández', 'Diego Torres'],
    'departamento': ['Consultoría', 'IT', 'Consultoría', 'Finanzas', 'IT', 'Consultoría', 'Finanzas', 'IT'],
    'salario': [65000, 70000, 62000, 75000, 68000, 67000, 72000, 69000],
    'antiguedad': [3, 5, 2, 7, 4, 6, 3, 1],
    'evaluacion': [8.5, 9.2, 7.8, 9.0, 8.8, 8.2, 9.1, 7.5],
    'ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona']
})

# Configurar índice personalizado
empleados.set_index('empleado_id', inplace=True)
print(empleados.head())

                      nombre departamento  salario  antiguedad  evaluacion  \
empleado_id
E001              Ana García  Consultoría    65000           3         8.5
E002            Carlos López           IT    70000           5         9.2
E003         María Rodriguez  Consultoría    62000           2         7.8
E004              Juan Pérez     Finanzas    75000           7         9.0
E005            Laura Martín           IT    68000           4         8.8

                ciudad
empleado_id
E001            Madrid
E002         Barcelona
E003            Madrid
E004          Valencia
E005         Barcelona

Método loc - Selección por Etiquetas

Selección Básica con loc

In [34]:
# Seleccionar un empleado específico
empleado_e003 = empleados.loc['E003']
print("Empleado E003:")
print(empleado_e003)

Empleado E003:
nombre          María Rodriguez
departamento        Consultoría
salario                   62000
antiguedad                    2
evaluacion                  7.8
ciudad                   Madrid
Name: E003, dtype: object

Selección de Múltiples Filas

In [35]:
# Múltiples empleados específicos
empleados_especificos = empleados.loc[['E001', 'E003', 'E005']]
print("Empleados específicos:")
print(empleados_especificos)

Empleados específicos:
                      nombre departamento  salario  antiguedad  evaluacion  \
empleado_id
E001              Ana García  Consultoría    65000           3         8.5
E003         María Rodriguez  Consultoría    62000           2         7.8
E005            Laura Martín           IT    68000           4         8.8

                ciudad
empleado_id
E001            Madrid
E003            Madrid
E005         Barcelona

Selección de Rangos

In [36]:
# Rango de empleados (por índice)
rango_empleados = empleados.loc['E002':'E005']
print("Empleados E002 a E005:")
print(rango_empleados)

Empleados E002 a E005:
                      nombre departamento  salario  antiguedad  evaluacion  \
empleado_id
E002            Carlos López           IT    70000           5         9.2
E003         María Rodriguez  Consultoría    62000           2         7.8
E004              Juan Pérez     Finanzas    75000           7         9.0
E005            Laura Martín           IT    68000           4         8.8

                ciudad
empleado_id
E002         Barcelona
E003            Madrid
E004          Valencia
E005         Barcelona

Selección de Columnas Específicas

In [37]:
# Empleado específico, columnas específicas
info_basica = empleados.loc['E001', ['nombre', 'departamento', 'salario']]
print("Información básica de E001:")
print(info_basica)

Información básica de E001:
nombre           Ana García
departamento    Consultoría
salario               65000
Name: E001, dtype: object

Selección de Múltiples Filas y Columnas

In [38]:
# Múltiples empleados, múltiples columnas
subset = empleados.loc[['E001', 'E003', 'E005'], ['nombre', 'salario', 'evaluacion']]
print("Subset específico:")
print(subset)

Subset específico:
                      nombre  salario  evaluacion
empleado_id
E001              Ana García    65000         8.5
E003         María Rodriguez    62000         7.8
E005            Laura Martín    68000         8.8

Método iloc - Selección por Posición

Selección Básica con iloc

In [39]:
# Primer empleado (posición 0)
primer_empleado = empleados.iloc[0]
print("Primer empleado:")
print(primer_empleado)

Primer empleado:
nombre           Ana García
departamento    Consultoría
salario               65000
antiguedad                3
evaluacion              8.5
ciudad               Madrid
Name: E001, dtype: object

Selección por Rangos de Posición

In [40]:
# Primeros 3 empleados
primeros_tres = empleados.iloc[0:3]
print("Primeros 3 empleados:")
print(primeros_tres)

Primeros 3 empleados:
                      nombre departamento  salario  antiguedad  evaluacion  \
empleado_id
E001              Ana García  Consultoría    65000           3         8.5
E002            Carlos López           IT    70000           5         9.2
E003         María Rodriguez  Consultoría    62000           2         7.8

                ciudad
empleado_id
E001            Madrid
E002         Barcelona
E003            Madrid

Selección de Columnas por Posición

In [41]:
# Empleado en posición 1, columnas 0, 2, 3
empleado_cols = empleados.iloc[1, [0, 2, 3]]
print("Empleado posición 1, columnas específicas:")
print(empleado_cols)

Empleado posición 1, columnas específicas:
nombre        Carlos López
salario              70000
antiguedad               5
Name: E002, dtype: object

Selección de Subconjuntos

In [42]:
# Filas 1-3, columnas 1-4
subconjunto = empleados.iloc[1:4, 1:5]
print("Subconjunto por posiciones:")
print(subconjunto)

Subconjunto por posiciones:
            departamento  salario  antiguedad  evaluacion
empleado_id
E002                  IT    70000           5         9.2
E003         Consultoría    62000           2         7.8
E004            Finanzas    75000           7         9.0

Selección Condicional Avanzada

Usando loc con Condiciones Booleanas

In [43]:
# Empleados de consultoría con salario alto
consultores_alto_salario = empleados.loc[
    (empleados['departamento'] == 'Consultoría') & 
    (empleados['salario'] > 65000)
]
print("Consultores con salario alto:")
print(consultores_alto_salario)

Consultores con salario alto:
                    nombre departamento  salario  antiguedad  evaluacion  \
empleado_id
E006         Pedro Sánchez  Consultoría    67000           6         8.2

             ciudad
empleado_id
E006         Madrid

Selección Condicional de Columnas Específicas

In [44]:
# Solo mostrar información relevante de empleados con alta evaluación
alta_evaluacion = empleados.loc[
    empleados['evaluacion'] > 8.5, 
    ['nombre', 'departamento', 'evaluacion', 'salario']
]
print("Empleados con alta evaluación:")
print(alta_evaluacion)

Empleados con alta evaluación:
                      nombre departamento  evaluacion  salario
empleado_id
E002            Carlos López           IT         9.2    70000
E004              Juan Pérez     Finanzas         9.0    75000
E005            Laura Martín           IT         8.8    68000
E007         Sofia Hernández     Finanzas         9.1    72000

Combinando Múltiples Condiciones

In [45]:
# Empleados senior (antigüedad > 4) con buen rendimiento (evaluación > 8.0)
empleados_senior = empleados.loc[
    (empleados['antiguedad'] > 4) & 
    (empleados['evaluacion'] > 8.0),
    ['nombre', 'antiguedad', 'evaluacion', 'salario']
]
print("Empleados senior con buen rendimiento:")
print(empleados_senior)

Empleados senior con buen rendimiento:
                    nombre  antiguedad  evaluacion  salario
empleado_id
E002          Carlos López           5         9.2    70000
E004            Juan Pérez           7         9.0    75000
E006         Pedro Sánchez           6         8.2    67000

Técnicas Avanzadas de Selección

Uso de isin() con loc

In [46]:
# Empleados de departamentos específicos en ciudades específicas
dept_ciudades = empleados.loc[
    empleados['departamento'].isin(['Consultoría', 'IT']) & 
    empleados['ciudad'].isin(['Madrid', 'Barcelona']),
    ['nombre', 'departamento', 'ciudad', 'salario']
]
print("Empleados de dept. específicos en ciudades principales:")
print(dept_ciudades)

Empleados de dept. específicos en ciudades principales:
                      nombre departamento     ciudad  salario
empleado_id
E001              Ana García  Consultoría     Madrid    65000
E002            Carlos López           IT  Barcelona    70000
E003         María Rodriguez  Consultoría     Madrid    62000
E005            Laura Martín           IT  Barcelona    68000
E006           Pedro Sánchez  Consultoría     Madrid    67000
E008            Diego Torres           IT  Barcelona    69000

Selección con Funciones Lambda

In [47]:
# Empleados con salario por encima de la mediana de su departamento
salario_mediano = empleados.groupby('departamento')['salario'].median()

empleados_sobre_mediana = empleados.loc[
    empleados.apply(
        lambda row: row['salario'] > salario_mediano[row['departamento']], 
        axis=1
    )
]
print("Empleados con salario sobre la mediana de su departamento:")
print(empleados_sobre_mediana[['nombre', 'departamento', 'salario']])

Empleados con salario sobre la mediana de su departamento:
                    nombre departamento  salario
empleado_id
E002          Carlos López           IT    70000
E004            Juan Pérez     Finanzas    75000
E006         Pedro Sánchez  Consultoría    67000

Selección Dinámica con Variables

In [48]:
# Definir criterios dinámicamente
departamento_objetivo = 'Consultoría'
salario_minimo = 63000
evaluacion_minima = 8.0

criterios_dinamicos = (
    (empleados['departamento'] == departamento_objetivo) &
    (empleados['salario'] >= salario_minimo) &
    (empleados['evaluacion'] >= evaluacion_minima)
)

empleados_objetivo = empleados.loc[criterios_dinamicos]
print(f"Empleados de {departamento_objetivo} que cumplen criterios:")
print(empleados_objetivo)

Empleados de Consultoría que cumplen criterios:
                    nombre departamento  salario  antiguedad  evaluacion  \
empleado_id
E001            Ana García  Consultoría    65000           3         8.5
E006         Pedro Sánchez  Consultoría    67000           6         8.2

             ciudad
empleado_id
E001         Madrid
E006         Madrid

Casos Prácticos en Consultoría

Caso 1: Análisis de Compensación por Departamento

In [49]:
# Analizar empleados de IT con compensación competitiva
empleados_it = empleados.loc[empleados['departamento'] == 'IT']

# Calcular percentiles de salario
p25_it = empleados_it['salario'].quantile(0.25)
p75_it = empleados_it['salario'].quantile(0.75)

# Empleados de IT en percentil alto
it_alto_salario = empleados.loc[
    (empleados['departamento'] == 'IT') & 
    (empleados['salario'] >= p75_it),
    ['nombre', 'salario', 'evaluacion', 'antiguedad']
]

print("Empleados de IT en percentil alto de salario:")
print(it_alto_salario)
print(f"Percentil 75 de IT: {p75_it}")

Empleados de IT en percentil alto de salario:
                   nombre  salario  evaluacion  antiguedad
empleado_id
E002         Carlos López    70000         9.2           5
Percentil 75 de IT: 69500.0

Caso 2: Identificación de Talento de Alto Potencial

In [50]:
# Definir criterios de alto potencial
alto_potencial = empleados.loc[
    (empleados['evaluacion'] >= 8.5) & 
    (empleados['antiguedad'] >= 2) & 
    (empleados['antiguedad'] <= 5),  # No muy senior, no muy junior
    ['nombre', 'departamento', 'evaluacion', 'antiguedad', 'salario']
]

print("Empleados de alto potencial:")
print(alto_potencial)

Empleados de alto potencial:
                      nombre departamento  evaluacion  antiguedad  salario
empleado_id
E001              Ana García  Consultoría         8.5           3    65000
E002            Carlos López           IT         9.2           5    70000
E005            Laura Martín           IT         8.8           4    68000
E007         Sofia Hernández     Finanzas         9.1           3    72000

Caso 3: Análisis Geográfico de Recursos

In [51]:
# Distribución de departamentos por ciudad
for ciudad in empleados['ciudad'].unique():
    empleados_ciudad = empleados.loc[empleados['ciudad'] == ciudad]
    print(f"\n--- {ciudad} ---")
    print(empleados_ciudad[['nombre', 'departamento', 'salario']].sort_values('salario', ascending=False))

--- Madrid ---
                      nombre departamento  salario
empleado_id
E006           Pedro Sánchez  Consultoría    67000
E001              Ana García  Consultoría    65000
E003         María Rodriguez  Consultoría    62000

--- Barcelona ---
                   nombre departamento  salario
empleado_id
E002         Carlos López           IT    70000
E008         Diego Torres           IT    69000
E005         Laura Martín           IT    68000

--- Valencia ---
                      nombre departamento  salario
empleado_id
E004              Juan Pérez     Finanzas    75000
E007         Sofia Hernández     Finanzas    72000

Caso 4: Benchmarking Salarial

In [52]:
# Comparar salarios por años de experiencia
experiencia_alta = empleados.loc[empleados['antiguedad'] >= 5]
experiencia_media = empleados.loc[
    (empleados['antiguedad'] >= 3) & (empleados['antiguedad'] < 5)
]
experiencia_baja = empleados.loc[empleados['antiguedad'] < 3]

print("Salario promedio por nivel de experiencia:")
print(f"Alta (5+ años): {experiencia_alta['salario'].mean():.0f}")
print(f"Media (3-4 años): {experiencia_media['salario'].mean():.0f}")
print(f"Baja (<3 años): {experiencia_baja['salario'].mean():.0f}")

Salario promedio por nivel de experiencia:
Alta (5+ años): 70667
Media (3-4 años): 68333
Baja (<3 años): 65500

Selección con Índices Multijerárquicos

In [53]:
# Crear un índice multijerárquico para análisis más complejo
empleados_multi = empleados.reset_index().set_index(['departamento', 'ciudad'])

print("Estructura con índice multijerárquico:")
print(empleados_multi.head())

Estructura con índice multijerárquico:
                       empleado_id           nombre  salario  antiguedad  \
departamento ciudad
Consultoría  Madrid           E001       Ana García    65000           3
IT           Barcelona        E002     Carlos López    70000           5
Consultoría  Madrid           E003  María Rodriguez    62000           2
Finanzas     Valencia         E004       Juan Pérez    75000           7
IT           Barcelona        E005     Laura Martín    68000           4

                        evaluacion
departamento ciudad
Consultoría  Madrid            8.5
IT           Barcelona         9.2
Consultoría  Madrid            7.8
Finanzas     Valencia          9.0
IT           Barcelona         8.8

Selección en Índices Multijerárquicos

In [54]:
# Seleccionar todos los empleados de Consultoría
consultoria = empleados_multi.loc['Consultoría']
print("Todos los empleados de Consultoría:")
print(consultoria)

# Seleccionar empleados de IT en Barcelona
it_barcelona = empleados_multi.loc[('IT', 'Barcelona')]
print("\nEmpleados de IT en Barcelona:")
print(it_barcelona)

Todos los empleados de Consultoría:
       empleado_id           nombre  salario  antiguedad  evaluacion
ciudad
Madrid        E001       Ana García    65000           3         8.5
Madrid        E003  María Rodriguez    62000           2         7.8
Madrid        E006    Pedro Sánchez    67000           6         8.2

Empleados de IT en Barcelona:
                       empleado_id        nombre  salario  antiguedad  \
departamento ciudad
IT           Barcelona        E002  Carlos López    70000           5
             Barcelona        E005  Laura Martín    68000           4
             Barcelona        E008  Diego Torres    69000           1

                        evaluacion
departamento ciudad
IT           Barcelona         9.2
             Barcelona         8.8
             Barcelona         7.5

/tmp/ipykernel_25475/1272338859.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
  it_barcelona = empleados_multi.loc[('IT', 'Barcelona')]

Modificación de Datos con loc e iloc

Actualización de Valores Específicos

In [55]:
# Actualizar salario de un empleado específico
empleados_copia = empleados.copy()
empleados_copia.loc['E001', 'salario'] = 70000

print("Salario actualizado para E001:")
print(empleados_copia.loc['E001', 'salario'])

Salario actualizado para E001:
70000

Actualización Condicional

In [56]:
# Bonus del 10% para empleados con evaluación > 9.0
empleados_copia.loc[empleados_copia['evaluacion'] > 9.0, 'salario'] *= 1.10

print("Empleados con bonus (evaluación > 9.0):")
high_performers = empleados_copia.loc[empleados_copia['evaluacion'] > 9.0]
print(high_performers[['nombre', 'evaluacion', 'salario']])

Empleados con bonus (evaluación > 9.0):
                      nombre  evaluacion  salario
empleado_id
E002            Carlos López         9.2    77000
E007         Sofia Hernández         9.1    79200

Ejercicios Prácticos

Ejercicio 1: Selección Específica

In [57]:
# TODO: Usando loc, selecciona:
# 1. Empleados E002, E004, E006
# 2. Solo las columnas: nombre, departamento, salario

# Tu solución aquí:
empleados_seleccionados = empleados.loc[['E002', 'E004', 'E006'], ['nombre', 'departamento', 'salario']]
print("Empleados seleccionados (E002, E004, E006):")
print(empleados_seleccionados)

Empleados seleccionados (E002, E004, E006):
                    nombre departamento  salario
empleado_id
E002          Carlos López           IT    70000
E004            Juan Pérez     Finanzas    75000
E006         Pedro Sánchez  Consultoría    67000

Ejercicio 2: Selección Condicional

In [58]:
# TODO: Encuentra empleados que:
# 1. Trabajen en Madrid O Barcelona
# 2. Tengan evaluación >= 8.0
# 3. Muestren solo: nombre, ciudad, evaluacion, salario

# Tu solución aquí:
empleados_filtrados = empleados.loc[
    ((empleados['ciudad'] == 'Madrid') | (empleados['ciudad'] == 'Barcelona')) &
    (empleados['evaluacion'] >= 8.0),
    ['nombre', 'ciudad', 'evaluacion', 'salario']
]
print("Empleados en Madrid o Barcelona con evaluación >= 8.0:")
print(empleados_filtrados)

Empleados en Madrid o Barcelona con evaluación >= 8.0:
                    nombre     ciudad  evaluacion  salario
empleado_id
E001            Ana García     Madrid         8.5    65000
E002          Carlos López  Barcelona         9.2    70000
E005          Laura Martín  Barcelona         8.8    68000
E006         Pedro Sánchez     Madrid         8.2    67000

Ejercicio 3: Análisis con iloc

In [59]:
# TODO: Usando iloc:
# 1. Selecciona los últimos 3 empleados
# 2. Solo las primeras 4 columnas

# Tu solución aquí:
ultimos_tres = empleados.iloc[-3:, :4]
print("Últimos 3 empleados, primeras 4 columnas:")
print(ultimos_tres)

Últimos 3 empleados, primeras 4 columnas:
                      nombre departamento  salario  antiguedad
empleado_id
E006           Pedro Sánchez  Consultoría    67000           6
E007         Sofia Hernández     Finanzas    72000           3
E008            Diego Torres           IT    69000           1