In [1]:
import pandas as pd
import numpy as np

print(f"Versión de Pandas: {pd.__version__}")
print(f"Versión de NumPy: {np.__version__}")

Versión de Pandas: 2.2.3
Versión de NumPy: 2.2.4

CREACIÓN DE SERIES

In [2]:
# Series básica
ventas = pd.Series([1000, 1500, 1200, 1800, 2000])
print(ventas)

0    1000
1    1500
2    1200
3    1800
4    2000
dtype: int64

In [3]:
# Series con índice personalizado
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo']
ventas_mensuales = pd.Series([1000, 1500, 1200, 1800, 2000], index=meses)
print(ventas_mensuales)

Enero      1000
Febrero    1500
Marzo      1200
Abril      1800
Mayo       2000
dtype: int64

In [4]:
# Datos un dicccionario
satisfaccion = pd.Series({
    'Producto A': 4.5,
    'Producto B': 4.2,
    'Producto C': 4.8,
    'Producto D': 3.9
})
print(satisfaccion)

Producto A    4.5
Producto B    4.2
Producto C    4.8
Producto D    3.9
dtype: float64

In [5]:
# Atributos básicos de una Serie
print(f"Valores: {ventas_mensuales.values}")
print(f"Índice: {ventas_mensuales.index}")
print(f"Tipo de datos: {ventas_mensuales.dtype}")
print(f"Tamaño: {ventas_mensuales.size}")
print(f"Forma: {ventas_mensuales.shape}")

Valores: [1000 1500 1200 1800 2000]
Índice: Index(['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'], dtype='object')
Tipo de datos: int64
Tamaño: 5
Forma: (5,)

CREACIÓN DE DATAFRAMES

In [6]:
# Diccionario de datos
proyectos = pd.DataFrame({
    'cliente': ['Empresa A', 'Empresa B', 'Empresa C', 'Empresa D'],
    'presupuesto': [50000, 75000, 30000, 90000],
    'duracion_dias': [30, 45, 20, 60],
    'satisfaccion': [4.5, 4.2, 4.8, 4.0]
})

print(proyectos)

     cliente  presupuesto  duracion_dias  satisfaccion
0  Empresa A        50000             30           4.5
1  Empresa B        75000             45           4.2
2  Empresa C        30000             20           4.8
3  Empresa D        90000             60           4.0

In [7]:
# DataFrame con índice personalizado
df_empleados = pd.DataFrame({
    'nombre': ['Ana García', 'Carlos López', 'María Torres', 'Juan Pérez'],
    'departamento': ['Consultoría', 'Análisis', 'Consultoría', 'Desarrollo'],
    'salario': [45000, 50000, 48000, 55000],
    'años_experiencia': [3, 5, 4, 6]
}, index=['E001', 'E002', 'E003', 'E004'])

print(df_empleados)

            nombre departamento  salario  años_experiencia
E001    Ana García  Consultoría    45000                 3
E002  Carlos López     Análisis    50000                 5
E003  María Torres  Consultoría    48000                 4
E004    Juan Pérez   Desarrollo    55000                 6

In [8]:
# Lista de diccionarios
ventas_data = [
    {'trimestre': 'Q1', 'region': 'Norte', 'ventas': 120000},
    {'trimestre': 'Q1', 'region': 'Sur', 'ventas': 95000},
    {'trimestre': 'Q2', 'region': 'Norte', 'ventas': 135000},
    {'trimestre': 'Q2', 'region': 'Sur', 'ventas': 105000}
]

df_ventas = pd.DataFrame(ventas_data)
print(df_ventas)

  trimestre region  ventas
0        Q1  Norte  120000
1        Q1    Sur   95000
2        Q2  Norte  135000
3        Q2    Sur  105000

In [9]:
# Atributos básicos de un DataFrame
print(f"Forma: {proyectos.shape}")
print(f"Columnas: {proyectos.columns.tolist()}")
print(f"Índice: {proyectos.index}")
print(f"\nTipos de datos:")
print(proyectos.dtypes)
print(f"\nInformación general:")
print(proyectos.info())

Forma: (4, 4)
Columnas: ['cliente', 'presupuesto', 'duracion_dias', 'satisfaccion']
Índice: RangeIndex(start=0, stop=4, step=1)

Tipos de datos:
cliente           object
presupuesto        int64
duracion_dias      int64
satisfaccion     float64
dtype: object

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cliente        4 non-null      object
 1   presupuesto    4 non-null      int64
 2   duracion_dias  4 non-null      int64
 3   satisfaccion   4 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 260.0+ bytes
None

OPERACIONES BÁSICAS EN SERIES

In [10]:
# Operaciones aritméticas
ventas_mensuales_usd = ventas_mensuales * 1.1  # Conversión de moneda
print("Ventas en USD:")
print(ventas_mensuales_usd)

# Operaciones estadísticas
print(f"\nPromedio: ${ventas_mensuales.mean():,.2f}")
print(f"Total: ${ventas_mensuales.sum():,.2f}")
print(f"Máximo: ${ventas_mensuales.max():,.2f}")

Ventas en USD:
Enero      1100.0
Febrero    1650.0
Marzo      1320.0
Abril      1980.0
Mayo       2200.0
dtype: float64

Promedio: $1,500.00
Total: $7,500.00
Máximo: $2,000.00

OPERACIONES EN DATAFRAMES

In [11]:
# Acceso a columnas (devuelve una Series)
presupuestos = proyectos['presupuesto']
print("Presupuestos:")
print(presupuestos)

# Crear nueva columna
proyectos['costo_diario'] = proyectos['presupuesto'] / proyectos['duracion_dias']
print("\nDataFrame actualizado:")
print(proyectos)

# Operaciones por columna
print(f"\nPresupuesto promedio: ${proyectos['presupuesto'].mean():,.2f}")
print(f"Duración promedio: {proyectos['duracion_dias'].mean():.1f} días")

Presupuestos:
0    50000
1    75000
2    30000
3    90000
Name: presupuesto, dtype: int64

DataFrame actualizado:
     cliente  presupuesto  duracion_dias  satisfaccion  costo_diario
0  Empresa A        50000             30           4.5   1666.666667
1  Empresa B        75000             45           4.2   1666.666667
2  Empresa C        30000             20           4.8   1500.000000
3  Empresa D        90000             60           4.0   1500.000000

Presupuesto promedio: $61,250.00
Duración promedio: 38.8 días

Caso: Análisis de Portafolio de Clientes

In [12]:
# Crear un DataFrame con datos de clientes
clientes = pd.DataFrame({
    'empresa': ['Tech Corp', 'Finance Ltd', 'Retail SA', 'Energy Co', 'Health Inc'],
    'sector': ['Tecnología', 'Finanzas', 'Retail', 'Energía', 'Salud'],
    'facturacion_anual': [250000, 180000, 320000, 290000, 195000],
    'proyectos_activos': [3, 2, 5, 4, 2],
    'años_relacion': [2, 5, 1, 3, 4]
})

# 1. Visualizar el DataFrame
print("Portfolio de Clientes:")
print(clientes)

Portfolio de Clientes:
       empresa      sector  facturacion_anual  proyectos_activos  \
0    Tech Corp  Tecnología             250000                  3
1  Finance Ltd    Finanzas             180000                  2
2    Retail SA      Retail             320000                  5
3    Energy Co     Energía             290000                  4
4   Health Inc       Salud             195000                  2

   años_relacion
0              2
1              5
2              1
3              3
4              4

In [13]:
# 2. Calcular métricas clave
clientes['facturacion_por_proyecto'] = (
    clientes['facturacion_anual'] / clientes['proyectos_activos']
)

print(clientes)

       empresa      sector  facturacion_anual  proyectos_activos  \
0    Tech Corp  Tecnología             250000                  3
1  Finance Ltd    Finanzas             180000                  2
2    Retail SA      Retail             320000                  5
3    Energy Co     Energía             290000                  4
4   Health Inc       Salud             195000                  2

   años_relacion  facturacion_por_proyecto
0              2              83333.333333
1              5              90000.000000
2              1              64000.000000
3              3              72500.000000
4              4              97500.000000

In [14]:
# 3. Identificar clientes VIP (facturación > 200k)
clientes['es_vip'] = clientes['facturacion_anual'] > 200000

print("\nAnálisis del Portafolio:")
print(clientes[['empresa', 'facturacion_anual', 'facturacion_por_proyecto', 'es_vip']])

Análisis del Portafolio:
       empresa  facturacion_anual  facturacion_por_proyecto  es_vip
0    Tech Corp             250000              83333.333333    True
1  Finance Ltd             180000              90000.000000   False
2    Retail SA             320000              64000.000000    True
3    Energy Co             290000              72500.000000    True
4   Health Inc             195000              97500.000000   False