In [2]:
import pandas as pd

SELECCIÓN EN SERIES

In [ ]:
# Crear una Series de ejemplo
ingresos = pd.Series(
    [120000, 95000, 145000, 88000, 156000],
    index=['Q1', 'Q2', 'Q3', 'Q4', 'Q5']
)

# Acceso individual
print("Ingresos Q3:", ingresos['Q3'])
print("Ingresos Q1:", ingresos.loc['Q1'])

# Acceso múltiple
print("\nIngresos Q1-Q3:")
print(ingresos[['Q1', 'Q2', 'Q3']])

ingresos>100000

Ingresos Q3: 145000
Ingresos Q1: 120000

Ingresos Q1-Q3:
Q1    120000
Q2     95000
Q3    145000
dtype: int64

Q1     True
Q2    False
Q3     True
Q4    False
Q5     True
dtype: bool

In [8]:
# Acceso por posición
print("Primer trimestre:", ingresos.iloc[0])
print("Últimos tres trimestres:")
print(ingresos.iloc[-3:])

# Rango de posiciones
print("\nPrimeros tres trimestres:")
print(ingresos.iloc[0:3])

Primer trimestre: 120000
Últimos tres trimestres:
Q3    145000
Q4     88000
Q5    156000
dtype: int64

Primeros tres trimestres:
Q1    120000
Q2     95000
Q3    145000
dtype: int64

In [ ]:
# Filtrado Condicional

# Filtrar valores superiores a 100,000
ingresos_altos = ingresos[ingresos > 100000]
print("Trimestres con ingresos > 100k:")
print(ingresos_altos)

# Múltiples condiciones
filtro = (ingresos > 90000) & (ingresos < 150000)
print("\nIngresos entre 90k y 150k:")
print(ingresos[filtro])

Trimestres con ingresos > 100k:
Q1    120000
Q3    145000
Q5    156000
dtype: int64

Ingresos entre 90k y 150k:
Q1    120000
Q2     95000
Q3    145000
dtype: int64

SELECCIÓN EN DATAFRAMES

In [10]:
# Preparación de Datos

# DataFrame de ejemplo: Datos de consultores
consultores = pd.DataFrame({
    'nombre': ['Ana López', 'Carlos Ruiz', 'María Silva', 'Juan Torres', 'Laura García'],
    'departamento': ['Estrategia', 'TI', 'Finanzas', 'Estrategia', 'TI'],
    'años_exp': [5, 3, 7, 4, 6],
    'tarifa_hora': [150, 120, 180, 140, 160],
    'horas_mes': [160, 180, 150, 170, 165]
}, index=['C001', 'C002', 'C003', 'C004', 'C005'])

print("DataFrame de Consultores:")
print(consultores)

DataFrame de Consultores:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5          150        160
C002   Carlos Ruiz           TI         3          120        180
C003   María Silva     Finanzas         7          180        150
C004   Juan Torres   Estrategia         4          140        170
C005  Laura García           TI         6          160        165

In [11]:
# Selección de columnas

# Una columna (retorna Series)
tarifas = consultores['tarifa_hora']
print("\nTarifas por hora:")
print(tarifas)

# Múltiples columnas (retorna DataFrame)
info_basica = consultores[['nombre', 'departamento']]
print("\nInformación básica:")
print(info_basica)

Tarifas por hora:
C001    150
C002    120
C003    180
C004    140
C005    160
Name: tarifa_hora, dtype: int64

Información básica:
            nombre departamento
C001     Ana López   Estrategia
C002   Carlos Ruiz           TI
C003   María Silva     Finanzas
C004   Juan Torres   Estrategia
C005  Laura García           TI

In [12]:
# Selección con loc (por etiquetas)

# Una fila específica
print("\nConsultor C003:")
print(consultores.loc['C003'])

# Múltiples filas
print("\nConsultores C001 y C004:")
print(consultores.loc[['C001', 'C004']])

# Filas y columnas específicas
print("\nTarifas de consultores específicos:")
print(consultores.loc[['C001', 'C003', 'C005'], ['nombre', 'tarifa_hora']])

# Rango de filas, columnas específicas
print("\nRango de consultores:")
print(consultores.loc['C002':'C004', ['nombre', 'departamento', 'años_exp']])

Consultor C003:
nombre          María Silva
departamento       Finanzas
años_exp                  7
tarifa_hora             180
horas_mes               150
Name: C003, dtype: object

Consultores C001 y C004:
           nombre departamento  años_exp  tarifa_hora  horas_mes
C001    Ana López   Estrategia         5          150        160
C004  Juan Torres   Estrategia         4          140        170

Tarifas de consultores específicos:
            nombre  tarifa_hora
C001     Ana López          150
C003   María Silva          180
C005  Laura García          160

Rango de consultores:
           nombre departamento  años_exp
C002  Carlos Ruiz           TI         3
C003  María Silva     Finanzas         7
C004  Juan Torres   Estrategia         4

In [13]:
# Selección con iloc (por posición)

# Primera fila
print("\nPrimer consultor:")
print(consultores.iloc[0])

# Primeras 3 filas, primeras 2 columnas
print("\nSubconjunto por posición:")
print(consultores.iloc[0:3, 0:2])

# Filas específicas, todas las columnas
print("\nFilas 1 y 3:")
print(consultores.iloc[[0, 2]])

# Última fila, columnas específicas
print("\nÚltimo consultor (info parcial):")
print(consultores.iloc[-1, [0, 1, 3]])

Primer consultor:
nombre           Ana López
departamento    Estrategia
años_exp                 5
tarifa_hora            150
horas_mes              160
Name: C001, dtype: object

Subconjunto por posición:
           nombre departamento
C001    Ana López   Estrategia
C002  Carlos Ruiz           TI
C003  María Silva     Finanzas

Filas 1 y 3:
           nombre departamento  años_exp  tarifa_hora  horas_mes
C001    Ana López   Estrategia         5          150        160
C003  María Silva     Finanzas         7          180        150

Último consultor (info parcial):
nombre          Laura García
departamento              TI
tarifa_hora              160
Name: C005, dtype: object

FILTRADO AVANZADO

In [14]:
# Condiciones Simples

# Consultores con más de 4 años de experiencia
seniors = consultores[consultores['años_exp'] > 4]
print("Consultores senior (>4 años):")
print(seniors)

# Consultores del departamento de TI
ti_team = consultores[consultores['departamento'] == 'TI']
print("\nEquipo de TI:")
print(ti_team)

Consultores senior (>4 años):
            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5          150        160
C003   María Silva     Finanzas         7          180        150
C005  Laura García           TI         6          160        165

Equipo de TI:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C002   Carlos Ruiz           TI         3          120        180
C005  Laura García           TI         6          160        165

In [17]:
# Condiciones Múltiples

# AND: Consultores senior de TI
senior_ti = consultores[
    (consultores['años_exp'] > 4) & 
    (consultores['departamento'] == 'TI')
]
print("Consultores senior de TI:")
print(senior_ti)

# OR: Alta tarifa o muchas horas
alto_valor = consultores[
    (consultores['tarifa_hora'] > 150) | 
    (consultores['horas_mes'] > 170)
]
print("\nConsultores de alto valor:")
print(alto_valor)

# Combinación compleja
filtro_complejo = consultores[
    ((consultores['departamento'] == 'Estrategia') & (consultores['años_exp'] >= 4)) |
    ((consultores['departamento'] == 'TI') & (consultores['tarifa_hora'] > 150))
]
print("\nFiltro complejo:")
print(filtro_complejo)

Consultores senior de TI:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C005  Laura García           TI         6          160        165

Consultores de alto valor:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C002   Carlos Ruiz           TI         3          120        180
C003   María Silva     Finanzas         7          180        150
C005  Laura García           TI         6          160        165

Filtro complejo:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5          150        160
C004   Juan Torres   Estrategia         4          140        170
C005  Laura García           TI         6          160        165

In [18]:
# Método query()

# Sintaxis más legible para filtros complejos
resultado = consultores.query('años_exp > 4 and tarifa_hora > 140')
print("Usando query():")
print(resultado)

# Con variables
tarifa_min = 150
exp_min = 5
resultado2 = consultores.query('tarifa_hora >= @tarifa_min or años_exp >= @exp_min')
print("\nQuery con variables:")
print(resultado2)

Usando query():
            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5          150        160
C003   María Silva     Finanzas         7          180        150
C005  Laura García           TI         6          160        165

Query con variables:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5          150        160
C003   María Silva     Finanzas         7          180        150
C005  Laura García           TI         6          160        165

In [19]:
# Filtrado con isin() - Pertenece a un conjunto

# Seleccionar departamentos específicos
departamentos_objetivo = ['Estrategia', 'Finanzas']
filtro_dept = consultores[consultores['departamento'].isin(departamentos_objetivo)]
print("Consultores de Estrategia y Finanzas:")
print(filtro_dept)

Consultores de Estrategia y Finanzas:
           nombre departamento  años_exp  tarifa_hora  horas_mes
C001    Ana López   Estrategia         5          150        160
C003  María Silva     Finanzas         7          180        150
C004  Juan Torres   Estrategia         4          140        170

MODIFICACIÓN DE DATOS

In [21]:
consultores

            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5          150        160
C002   Carlos Ruiz           TI         3          120        180
C003   María Silva     Finanzas         7          180        150
C004   Juan Torres   Estrategia         4          140        170
C005  Laura García           TI         6          160        165

In [20]:
# Actualización de Valores

# Copiar DataFrame para no modificar el original
df_actualizado = consultores.copy()

# Actualizar un valor específico
df_actualizado.loc['C001', 'tarifa_hora'] = 160
print("Tarifa actualizada para C001:")
print(df_actualizado.loc['C001'])

# Actualizar múltiples valores
df_actualizado.loc[df_actualizado['departamento'] == 'TI', 'tarifa_hora'] += 10
print("\nTarifas de TI incrementadas:")
print(df_actualizado[df_actualizado['departamento'] == 'TI'])

Tarifa actualizada para C001:
nombre           Ana López
departamento    Estrategia
años_exp                 5
tarifa_hora            160
horas_mes              160
Name: C001, dtype: object

Tarifas de TI incrementadas:
            nombre departamento  años_exp  tarifa_hora  horas_mes
C002   Carlos Ruiz           TI         3          130        180
C005  Laura García           TI         6          170        165

In [22]:
df_actualizado

            nombre departamento  años_exp  tarifa_hora  horas_mes
C001     Ana López   Estrategia         5          160        160
C002   Carlos Ruiz           TI         3          130        180
C003   María Silva     Finanzas         7          180        150
C004   Juan Torres   Estrategia         4          140        170
C005  Laura García           TI         6          170        165

In [23]:
# Creación de Columnas Basadas en Condiciones

# Categorizar consultores por experiencia
consultores['nivel'] = 'Junior'
consultores.loc[consultores['años_exp'] > 3, 'nivel'] = 'Mid'
consultores.loc[consultores['años_exp'] > 5, 'nivel'] = 'Senior'

print("Consultores con niveles:")
print(consultores[['nombre', 'años_exp', 'nivel']])

# Cálculo de ingresos mensuales
consultores['ingreso_mensual'] = consultores['tarifa_hora'] * consultores['horas_mes']
print("\nIngresos mensuales:")
print(consultores[['nombre', 'tarifa_hora', 'horas_mes', 'ingreso_mensual']])

Consultores con niveles:
            nombre  años_exp   nivel
C001     Ana López         5     Mid
C002   Carlos Ruiz         3  Junior
C003   María Silva         7  Senior
C004   Juan Torres         4     Mid
C005  Laura García         6  Senior

Ingresos mensuales:
            nombre  tarifa_hora  horas_mes  ingreso_mensual
C001     Ana López          150        160            24000
C002   Carlos Ruiz          120        180            21600
C003   María Silva          180        150            27000
C004   Juan Torres          140        170            23800
C005  Laura García          160        165            26400

Casos de Uso Prácticos: Análisis de Rentabilidad

In [24]:
# Identificar consultores más rentables
# (alta tarifa y muchas horas)
consultores['score_rentabilidad'] = (
    consultores['tarifa_hora'] * consultores['horas_mes'] / 1000
)

top_performers = consultores.nlargest(3, 'score_rentabilidad')
print("Top 3 consultores por rentabilidad:")
print(top_performers[['nombre', 'departamento', 'score_rentabilidad']])

Top 3 consultores por rentabilidad:
            nombre departamento  score_rentabilidad
C003   María Silva     Finanzas                27.0
C005  Laura García           TI                26.4
C001     Ana López   Estrategia                24.0

Casos de Uso Prácticos: Segmentación de Equipos

In [25]:
# Agrupar por departamento y mostrar estadísticas
for dept in consultores['departamento'].unique():
    equipo = consultores[consultores['departamento'] == dept]
    print(f"\n{dept}:")
    print(f"  Consultores: {len(equipo)}")
    print(f"  Tarifa promedio: ${equipo['tarifa_hora'].mean():.2f}")
    print(f"  Experiencia promedio: {equipo['años_exp'].mean():.1f} años")

Estrategia:
  Consultores: 2
  Tarifa promedio: $145.00
  Experiencia promedio: 4.5 años

TI:
  Consultores: 2
  Tarifa promedio: $140.00
  Experiencia promedio: 4.5 años

Finanzas:
  Consultores: 1
  Tarifa promedio: $180.00
  Experiencia promedio: 7.0 años

Ejercicio Integrador

In [26]:
# Dataset de proyectos
proyectos = pd.DataFrame({
    'codigo': ['P001', 'P002', 'P003', 'P004', 'P005'],
    'cliente': ['Tech Corp', 'Finance Ltd', 'Retail SA', 'Tech Corp', 'Energy Co'],
    'consultor_lead': ['C001', 'C003', 'C002', 'C004', 'C005'],
    'presupuesto': [75000, 120000, 45000, 95000, 150000],
    'estado': ['Activo', 'Completado', 'Activo', 'Activo', 'Planificado']
})

# 1. Proyectos activos
activos = proyectos[proyectos['estado'] == 'Activo']
print("Proyectos activos:")
print(activos)

# 2. Proyectos de alto valor (>80k) de Tech Corp
tech_alto_valor = proyectos[
    (proyectos['cliente'] == 'Tech Corp') & 
    (proyectos['presupuesto'] > 80000)
]
print("\nProyectos Tech Corp > 80k:")
print(tech_alto_valor)

# 3. Información del consultor lead para proyectos activos
info_leads = proyectos.loc[
    proyectos['estado'] == 'Activo',
    ['codigo', 'consultor_lead', 'presupuesto']
]
print("\nConsultores lead de proyectos activos:")
print(info_leads)

Proyectos activos:
  codigo    cliente consultor_lead  presupuesto  estado
0   P001  Tech Corp           C001        75000  Activo
2   P003  Retail SA           C002        45000  Activo
3   P004  Tech Corp           C004        95000  Activo

Proyectos Tech Corp > 80k:
  codigo    cliente consultor_lead  presupuesto  estado
3   P004  Tech Corp           C004        95000  Activo

Consultores lead de proyectos activos:
  codigo consultor_lead  presupuesto
0   P001           C001        75000
2   P003           C002        45000
3   P004           C004        95000